body {
  background: #000000;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #111111;
}


.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.list-group-item-light:hover {
  background-color: rgba(0,0,0, 0.9);
  color: rgba(255,255,255, 0.8);
}

.page {
  background-color: #000000;
  border-color: #FFFFFF;
  color: #ffffff;
}

.page-active {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #000000;
}

.page-active:hover {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  color: #000000;
}

.page-active:active {
  background-color: #888888;
  border-color: #FFFFFF;
  color: #ffffff;
}

.page:hover {
  background-color: #888888;
  border-color: #FFFFFF;
}

.page:active {
  background-color: #888888;
  border-color: #FFFFFF;
  color: #ffffff;
}
