
{% extends "layout.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<a href="{{ url_for('studies.new_study') }}"><button type="button" class="btn btn-outline-secondary" >+Create post</button></a>
{% else %}
Please <a href="{{ url_for('users.login') }}" class="custom-link">Login</a> to add your content. Don't have an account? <a href="{{ url_for('users.register') }}" class="custom-link">Register Today</a>.
{% endif %}
</br></br>
    {% for post in posts.items %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content[:300] }}... <hr /><small class="text-muted"><a href="{{ url_for('posts.post', post_id = post.id) }}">read more >></a></small></p>
      </div>
    </article>

    {% endfor %}



    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4 page-active" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4 page" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
