{% extends "layout.html" %}
{% block content %}
<article class="media content-section">

  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ study.user_id.username }}</a>

      {% if study.user == current_user %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('studies.new_study', study_id=study.id) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ study.title }}</h2>
    <p class="article-content">{{ study.content }}</p>
    <iframe src="{{ study.board }}" width="100%" height=397 frameborder=0></iframe>
  </div>

</article>
{% endblock content %}
