{% extends "layout.html" %}
{% block content %}
            {% if current_user.is_authenticated %}
              <a href="{{ url_for('studies.new_study') }}"><button type="button" class="btn btn-outline-secondary" >+Create study</button></a>
            {% else %}
            Please <a href="{{ url_for('users.login') }}" class="custom-link">Log In</a> to add your studies. Don't have an account? <a href="{{ url_for('users.register') }}" class="custom-link">Register Today</a>.
            {% endif %}

</br></br>
  <div class="container content-section">
    <div>
      <h1>Let's Study...</h1>
      <h4>Welcome to the Study Section. No matter how experienced player you are, sth for you is located right below. We'll appreciate if you want to share your studies.</h3>
      </hl>
    </div>
    <ul>
      <li><a href="{{ url_for('studies.openings') }}">Openings</a></li>
      {% for last in category1 %}
      <small>{{ last.title }}</small>
      {% endfor %}
      <li><a href="{{ url_for('studies.middlegames') }}">Middlegames</a></li>
      <li><a href="{{ url_for('studies.endgames') }}">Endgames</a></li>

    </ul>
  </div>
{% endblock %}
